:host {
    display: block;
    background-color: whitesmoke;
    color: gray;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
.logo{
    float:left;
    cursor: pointer;
}

header {
    display: flex;  
}
.menu { 
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
    margin: 0;
}

ul > li {
    display: inline-block;
    padding: 1rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}