<header>
  <div class="logo" [routerLink]="['']">
    <img src="assets/logo.png" alt="">
  </div>
  <div class="menu">
    <ul>
      <li class="nav-menu" [routerLink]="['']">Ebook</li>
      <li class="nav-menu" [routerLink]="['class']">Class</li>
      <li class="nav-menu">|</li>
      <button mat-button [matMenuTriggerFor]="menu" [innerHTML]="(user | async).username"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>
    </ul>
  </div>
</header>