<div>
  <mat-card>
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <mat-form-field class="form-field">
        <input matInput type="text" required pattern=".{3,8}" placeholder="Username" id="username" name="username" ngModel>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="password" required maxlength="5" placeholder="Password" id="password" name="password" ngModel>
      </mat-form-field>
      <div ngModelGroup="fullName">
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="First name" id="firstName" name="firstName" ngModel>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput type="password" placeholder="Last name" id="lastName" name="lastName" ngModel>
        </mat-form-field>
      </div>
      <button type="submit" class="btn-login" mat-raised-button color="primary">Login</button>
      <button type="button" class="btn-login" mat-raised-button color="warn">Register</button>
    </form>
  </mat-card>
</div>
