:host{
    display:block;
}

.book {
    width: 200px;
    display: inline-block;
    background-color: whitesmoke;
    padding: 30px;
    margin: 20px 10px;
}

.no-content {
    text-align: center;
    padding: 2rem;
}