:host{
    display:block;
}

.menu{
    margin-top: 20px;
    height: 80px;
    color: gray;
}

h2{
    float:left;
}

.menu img{
    float: right;
    display: block;
    border: 2px solid silver;
}

.img-2{
    padding: 5px 15px 5px 30px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.img-1{
    padding: 5px 30px 5px 15px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.img-3{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100px;
}

input{
    float: right;
    margin: 10px 10px;
}

button{
    padding: 5px;
    float:right;
    width: 50px;
    border: none;
    background-color: inherit;
}