:host{
    display:block;
}

.menu{
    margin-top: 20px;
    height: 100px;
    color: gray;
}

h2{
    float:left;
}
.control {
    /* border: none; */
    font-size: 1.5rem;
    border-radius: 100%;
    padding: 0.5rem;
    box-shadow:  0px 8px 20px silver;
    margin-left: 1rem;
  }

  .example-full-width {
    margin: 0 10px;
    float: right;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }

button{
    float:right;
    margin: 10px;
}

button:focus {
    outline: none;
  }
  
  .control span {
    width: 2rem;
  }
  